<form class="entire-form" [formGroup]="scheduleForm" (ngSubmit)="onSubmit(scheduleForm.value)">


  <div class="title-form">
    Schedule Form
    <button mat-raised-button class="reset-schedule-button"
            color="primary"
            *ngIf="this.scheduleToUpdate"
            (click)="setDisableForm()">
      <span>New Schedule   </span>
      <mat-icon>alarm</mat-icon>
    </button>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Schedule Name</mat-label>
    <input matInput required id="schedulerName" type="text" formControlName="schedulerName">
    <mat-error *ngIf="this.scheduleForm.controls.schedulerName.invalid">Required field</mat-error>
  </mat-form-field>

  <div>
    <p class="project-title">Project : </p>
    <mat-form-field appearance="fill">
      <mat-label>Project Name</mat-label>
      <input matInput required id="projectName" type="text" formControlName="projectName">
      <mat-error *ngIf="this.scheduleForm.controls.projectName.invalid">Required field</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Branch Name</mat-label>
      <input matInput required id="branchName" type="text" formControlName="branchName">
      <mat-error *ngIf="this.scheduleForm.controls.branchName.invalid">Required field</mat-error>
    </mat-form-field>
  </div>


  <div>
    <p class="interval-title">Interval : </p>
    <mat-form-field appearance="fill">
      <mat-label>Frequency Unit</mat-label>
      <mat-select required id="frequencyUnit" formControlName="frequencyUnit">
        <mat-option *ngFor="let unit of frequencyUnits" value="{{unit}}">{{unit}}</mat-option>
      </mat-select>
      <mat-error *ngIf="this.scheduleForm.controls.frequencyUnit.invalid">Required field</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Frequency</mat-label>
      <input matInput required min="0" id="frequency" type="number" formControlName="frequency">
      <mat-error *ngIf="this.scheduleForm.controls.frequency.invalid">Required field and value must be greater than 0</mat-error>
    </mat-form-field>
  </div>


  <br>
  <mat-form-field>
    <input matInput required id="startDate" [matDatepicker]="startDatepicker" formControlName="startDate">
    <mat-error [hidden]="" *ngIf="this.scheduleForm.controls.startDate.invalid">Required field</mat-error>
    <mat-datepicker-toggle matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatepicker></mat-datepicker>
  </mat-form-field>
  <br>
  <button class="button"
          type="submit"
          mat-raised-button
          color="primary"
          formControlName="submit">{{scheduleToUpdate==null?'Create new Schedule':'Update schedule'}}</button>

</form>
