<form class="entire-form" [formGroup]="scheduleForm" (ngSubmit)="onSubmit(scheduleForm.value)">

  <div class="title-form">
    <p>Schedule Form</p>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Schedule Name</mat-label>
    <input matInput id="schedulerName" type="text" formControlName="schedulerName">
  </mat-form-field>

  <div>
    <p class="project-title">Project : </p>
    <mat-form-field appearance="fill">
      <mat-label>Project Name</mat-label>
      <input matInput id="projectName" type="text" formControlName="projectName">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Branch Name</mat-label>
      <input matInput id="branchName" type="text" formControlName="branchName">
    </mat-form-field>
  </div>


  <div>
    <p class="interval-title">Interval : </p>
    <mat-form-field appearance="fill">
      <mat-label>Frequency Unit</mat-label>
      <mat-select id="frequencyUnit">
        <mat-option value="">---</mat-option>
        <mat-option value="Month">Month</mat-option>
        <mat-option value="Week">Week</mat-option>
        <mat-option value="Day">Day</mat-option>
        <mat-option value="Hour">Hour</mat-option>
        <mat-option value="Minute">Minute</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Frequency</mat-label>
      <input matInput id="frequency" type="text" formControlName="frequency">
    </mat-form-field>
  </div>


  <br>
  <mat-form-field appearance="fill">
    <mat-label>Start Date</mat-label>
    <input matInput id="startDate" type="text" formControlName="startDate">
  </mat-form-field>
  <br>
  <button class="button"
          type="submit"
          mat-raised-button
          color="primary"
          formControlName="submit"
          (submit)="onSubmit(null)">Submit</button>

</form>
