.entire-form {
  border: 6px solid #3f51b5;
  padding-left: 15px;
  padding-bottom: 15px;
}
.title-form {
  font-weight: bold;
  font-size: 1.5rem;
}
.project-title {
  text-decoration: underline;
}
.interval-title{
  text-decoration: underline;
}
.date-infos{
  padding-bottom: 15px;
  padding-top: 15px;
}
.date-title{
  text-decoration: underline;
}
.mat-form-field{
  display: block;
  padding-right: 10px;
}
