<mat-card class="card">

  <mat-card-title>
    <h3>Users List</h3>
  </mat-card-title>

  <mat-card-content>

    <div class="mat-elevation-z8 users-list">
      <table [dataSource]="users" mat-table>
        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell> Id</th>
          <td *matCellDef="let user" mat-cell> {{user.id}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell> Name</th>
          <td *matCellDef="let user" mat-cell> {{user.name}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th *matHeaderCellDef mat-header-cell> Email</th>
          <td *matCellDef="let user" mat-cell> {{user.email}}</td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th *matHeaderCellDef mat-header-cell> Phone</th>
          <td *matCellDef="let user" mat-cell> {{user.phone}}</td>
        </ng-container>

        <tr *matHeaderRowDef="columns; sticky: true" mat-header-row></tr>
        <tr (click)="selectUser(user)" *matRowDef="let user; columns: columns;" class="row" mat-row></tr>
      </table>
    </div>

  </mat-card-content>
</mat-card>
