<mat-card class="card">

  <mat-card-title>
    <h4>Process list</h4>
  </mat-card-title>

  <mat-card-content>
    <div class="mat-elevation-z8 process-list">
      <table *ngIf="runningImages.length > 0" [dataSource]="runningImages" mat-table>

        <ng-container matColumnDef="projectId">
          <th *matHeaderCellDef mat-header-cell> Project id</th>
          <td *matCellDef="let runningImage" mat-cell> {{runningImage.project_id}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="imageId">
          <th *matHeaderCellDef mat-header-cell> Docker image id</th>
          <td *matCellDef="let runningImage" mat-cell> {{runningImage.image_id}}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="upTime">
          <th *matHeaderCellDef mat-header-cell> Up time</th>
          <td *matCellDef="let runningImage" mat-cell> {{runningImage.uptime}}</td>
        </ng-container>

        <tr *matHeaderRowDef="columns" mat-header-row></tr>
        <tr (click)="selectProject(runningImage.project_id)" *matRowDef="let runningImage; columns: columns;" class="row"
            mat-row></tr>
      </table>
      <div *ngIf="runningImages.length == 0" class="empty-runner-message">
        There is no ongoing process
      </div>
    </div>
  </mat-card-content>
</mat-card>
