<body>
<div class="build_table">
  <table [dataSource]="processList" class="mat-elevation-z8" mat-table>

    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell> Build ID</th>
      <td *matCellDef="let element" mat-cell> {{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th *matHeaderCellDef mat-header-cell> Status</th>
      <td *matCellDef="let element" mat-cell> {{element.status}}</td>
    </ng-container>

    <ng-container matColumnDef="command">
      <th *matHeaderCellDef mat-header-cell> Command</th>
      <td *matCellDef="let element" mat-cell> {{element.command}}</td>
    </ng-container>

    <ng-container matColumnDef="output">
      <th *matHeaderCellDef mat-header-cell> Output</th>
      <td *matCellDef="let element" mat-cell>
        <span *ngIf="element.output.stdout!=null; else error" style="color: green;font-weight: bold"> {{element.output.stdout}} </span>
        <ng-template #error><span style="color: red;font-weight: bold">{{element.output.stderr}}</span></ng-template>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayColumns;" mat-row></tr>
  </table>
</div>
</body>
