<mat-card class="mat-elevation-z1 schedule-list">
  <mat-card-title fxLayout="row" fxLayoutAlign="space-around center">
    <h2> Schedule List</h2>
  </mat-card-title>
  <mat-card-content>
    <div class="mat-elevation-z1">
      <table [dataSource]="schedules" mat-table>
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell> Name</th>
          <td *matCellDef="let element" mat-cell> {{element.name}}</td>
        </ng-container>

        <!-- Project Column -->
        <ng-container matColumnDef="project">
          <th *matHeaderCellDef mat-header-cell> Project</th>
          <td *matCellDef="let element" mat-cell> {{currentProject.label}}</td>
        </ng-container>

        <!-- Branch Column -->
        <ng-container matColumnDef="branch">
          <th *matHeaderCellDef mat-header-cell> Branch</th>
          <td *matCellDef="let element" mat-cell> {{element.branch}}</td>
        </ng-container>

        <!-- Interval Unit Column -->
        <!--<ng-container matColumnDef="intervalUnit">
          <th mat-header-cell *matHeaderCellDef> Interval Unit </th>
          <td mat-cell *matCellDef="let element"> {{element.interval.unity}} </td>
        </ng-container>
        -->

        <ng-container matColumnDef="scheduledInterval">
          <th *matHeaderCellDef mat-header-cell> Scheduled Interval</th>
          <td *matCellDef="let element" mat-cell> {{parseScheduleToHuman(element)}}</td>
        </ng-container>

        <!-- Interval Frequency Column -->
        <!--<ng-container matColumnDef="intervalFrequency">
          <th mat-header-cell *matHeaderCellDef> Interval Frequency </th>
          <td mat-cell *matCellDef="let element"> {{element.interval.frequency}} </td>
        </ng-container>
        -->

        <!-- StartDate Column -->
        <ng-container matColumnDef="startDate">
          <th *matHeaderCellDef mat-header-cell> StartDate</th>
          <td *matCellDef="let element" mat-cell> {{element.start_date | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
        </ng-container>

        <!-- Delete Schedule Column -->
        <ng-container matColumnDef="deleteSchedule">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let element" mat-cell>
            <button (click)="deleteSchedule(element)" mat-icon-button>
              <mat-icon>delete
              </mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr (click)="updateSchedule(row); isClicked = !isClicked" *matRowDef="let row; columns: displayedColumns;"
            mat-row></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>


