<mat-card class="card" fxFlex>

    <mat-card-title>
        <h3>Project Details</h3>
    </mat-card-title>

    <mat-card-content>

        <div *ngIf="!project; else projectDetailsTemplate" fxLayoutAlign="center center">
            Select a project
        </div>

        <ng-template #projectDetailsTemplate>
            <mat-tab-group>
              <mat-tab label="Description">
                <mat-list>
                  <mat-list-item>Id: {{project.id}}</mat-list-item>
                  <mat-list-item>Name: {{project.name}}</mat-list-item>
                </mat-list>
              </mat-tab>
            </mat-tab-group>
          </ng-template>

    </mat-card-content>
</mat-card>