<mat-card class='card' fxFlex>

  <mat-card-title>
    <h3>Project Details : {{ project ? project.id : '' }}</h3>
    <button (click)='update()' [disabled]='updateButtonDisabled' color='primary' mat-raised-button>Update</button>
  </mat-card-title>

  <mat-card-content>

    <div *ngIf='!project; else projectDetailsTemplate' fxLayoutAlign='center center'>
      Select a project
    </div>

    <ng-template #projectDetailsTemplate>
      <mat-tab-group>
        <!--
                <mat-tab label='Description'>
                  <mat-list>
                    <mat-list-item>Id: {{project.id}}</mat-list-item>
                    <mat-list-item>Name: {{project.name}}</mat-list-item>
                  </mat-list>
                </mat-tab>
        -->
        <mat-tab label='Notified Users'>
          <div class='mat-elevation-z8 users-list'>
            <table [dataSource]='users' mat-table>

              <ng-container matColumnDef='notified'>
                <th *matHeaderCellDef mat-header-cell> Notified</th>
                <td *matCellDef='let user' mat-cell>

                  <mat-checkbox (change)='showOptions(user, $event)' [checked]='isNotified(user)' class='example-margin' color='primary'
                                ngDefaultControl></mat-checkbox>
                </td>
                <td *matFooterCellDef mat-footer-cell></td>
              </ng-container>

              <ng-container matColumnDef='id'>
                <th *matHeaderCellDef mat-header-cell> Id</th>
                <td *matCellDef='let user' mat-cell> {{user.id}}</td>
                <td *matFooterCellDef mat-footer-cell>
                  <button
                    (click)="newUserClick()" color='primary'
                    mat-raised-button>
                    Add
                  </button>
                </td>
              </ng-container>

              <ng-container matColumnDef='emailAddress'>
                <th *matHeaderCellDef mat-header-cell> Email address</th>
                <td *matCellDef='let user' mat-cell> {{user.emailAddress}}</td>
                <td *matFooterCellDef mat-footer-cell>
                  <input [(ngModel)]="newUserEmail" id="newUserInput" matInput placeholder="email address">
                </td>
              </ng-container>

              <tr *matHeaderRowDef='columns; sticky: true' mat-header-row></tr>
              <tr *matRowDef='let user; columns: columns;' class='row' mat-row></tr>
              <tr *matFooterRowDef='columns; sticky: true' mat-footer-row></tr>
            </table>
          </div>
        </mat-tab>
      </mat-tab-group>

    </ng-template>

  </mat-card-content>
</mat-card>
