
.mails-add {
  height: 400px;
  overflow: auto;
}
.row {
  cursor: pointer;
}
mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  margin-left: 50px;
  bottom: -50px;
}


.container {
  padding: 10px;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-element {
  padding: 5px 0px 25px 2px;
  width: 100%;
}

.button{
  width: 50%;
  bottom: -150px;
  margin-left: 500px;
}


.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}



.div{

  right: 664px;

}
h1 {
  color: #DB5B33;
  font-weight: 300;
  text-align: center;
}

toggle-button {
  margin: 0 auto;
}

    :host {
      display: block;
      position: relative;
      width: 10px;
      height: 50px;
    }

    input[type="checkbox"] {
      display: none;
    }
    input[type=checkbox]:checked ~ .toggle-button-switch {
      left: 767px;
  }

    .toggle-button-switch {
      position: absolute;
    top: 383px;
    left: 735px;
    width: 47px;
    height: 47px;
    background-color: #fff;
    border-radius: 169%;
    cursor: pointer;
    z-index: 100;
    transition: left 0.3s;

    }

    .toggle-button-switch1 {
      position: absolute;
    top: 166px;
    left: 735px;
    width: 47px;
    height: 47px;
    background-color: #fff;
    border-radius: 169%;
    cursor: pointer;
    z-index: 100;
    transition: left 0.3s;

    }

    .toggle-button-switch2 {
      position: absolute;
    top: 275px;
    left: 735px;
    width: 47px;
    height: 47px;
    background-color: #fff;
    border-radius: 169%;
    cursor: pointer;
    z-index: 100;
    transition: left 0.3s;

    }

    .toggle-button-text {
      overflow: hidden;
      background-color: #fc3164;
      border-radius: 25px;
      box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.75);
      transition: background-color 0.3s;
      margin-left: 715px;
      margin-right: 682px;
    }


    .toggle-button-text-on,
    .toggle-button-text-off {
      float: left;
      width: 50%;
      height: 100%;
      line-height: 50px;
      font-family: Lato, sans-serif;
      font-weight: bold;
      color: #fff;
      text-align: center;

    }


    input[type="checkbox"]:checked ~ .toggle-button-switch {
      left: 769px;
    }
    input[type="checkbox"]:checked ~ .toggle-button-switch1 {
      left: 769px;
    }input[type="checkbox"]:checked ~ .toggle-button-switch2 {
      left: 769px;
    }

    input[type="checkbox"]:checked ~ .toggle-button-text {
      background-color: #3dbf87;
    }


    body {
      font-family: 'Open Sans';
      font-weight: 300;
      background-color: #D6E1E5;
    }


    .mat-card-content {
      font-size: 8px;
    }
