<mat-card class="card" fxFlex>

  <mat-card-title>
    <h3>Command details console</h3>
  </mat-card-title>

  <mat-card-content>

    <div *ngIf="!project; else commandDetailsTemplate" fxLayoutAlign="center center">
      Select a project
    </div>

    <ng-template #commandDetailsTemplate>
      <mat-tab-group>
        <mat-tab label="Console">
          <mat-list>
            <mat-list-item>Id: {{project.project_id}}</mat-list-item>
            <mat-list-item>Project: {{project.projectName}}</mat-list-item>
            <br> <br>
            <mat-list-item>

              <!-->
              <mat-checkbox formControlName="stdout_check">Voulez vous afficher la commande ?</mat-checkbox>
              <\-->
              <br>
              <mat-form-field>
                <mat-label>Command:</mat-label>
                <textarea #input (keyup)=getTextInputValue(input.value) matInput placeholder="Type commande here">
                  </textarea>
                <button (click)=sendCommandTipped(project) color="warn" mat-raised-button> Add</button>
              </mat-form-field>
              <!-- table mat-table [dataSource]="commandList" matSort class="mat-elevation-z8">
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
              </table -->
              <!-- section class="horizontal_align" >
                <button mat-raised-button color="primary" > Validate les commands </button>
              </section -->

            </mat-list-item>
          </mat-list>

        </mat-tab>
        <mat-tab label="Historique des commandes">

          <h3 matLine> Project: {{project.projectName}}</h3>
          <mat-divider></mat-divider>
          <mat-card-content>

            <mat-list *ngFor="let historiqueCommand of historiqueCommands" role="list">
              <div *ngFor="let command of historiqueCommand.commands">
                <mat-list-item role="listitem">id: {{command.id}}</mat-list-item>
                <mat-list-item role="listitem"> commandes: {{command.command}}</mat-list-item>
                <!-- mat-list-item role="listitem" if="!command.created_time" > date: {{command.created_time}} </mat-list-item -->
              </div>
              <mat-divider></mat-divider>
            </mat-list>

          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </ng-template>

  </mat-card-content>
</mat-card>
