<mat-card class='card'>

  <mat-card-title>
    <h3>Projects List</h3>
  </mat-card-title>

  <mat-card-content>

    <div class='mat-elevation-z8 projects-list'>
      <table [dataSource]='projects' mat-table>
        <ng-container matColumnDef='id'>
          <th *matHeaderCellDef mat-header-cell> Id</th>
          <td *matCellDef='let project' mat-cell> {{project.id}}</td>
        </ng-container>

        <ng-container matColumnDef='name'>
          <th *matHeaderCellDef mat-header-cell> Name</th>
          <td *matCellDef='let project' mat-cell> {{project.name}}</td>
        </ng-container>

        <tr *matHeaderRowDef='columns; sticky: true' mat-header-row></tr>
        <tr (click)='selectProject(project)' *matRowDef='let project; columns: columns;' class='row' mat-row></tr>
      </table>
    </div>

  </mat-card-content>
</mat-card>
