<div (click)="refreshProcess()" style="text-align: end; padding-right: 3rem; cursor: pointer">
  <mat-icon style="font-size: 3rem">refresh</mat-icon>
</div>
<div *ngIf="runningImages && !isError && !isLoading" fxFlexFill fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px"
     style="margin-bottom: 2rem">
  <ci-counter [count]="runningImages.length" fxFlex="33%" style="min-height: 100%"></ci-counter>
  <ci-process-list [runningImages]="runningImages" fxFlex="66%" style="min-height: 100%"></ci-process-list>
</div>

<div *ngIf="isError && !isLoading" fxFlexFill fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px"
     style="margin-bottom: 2rem">
  <ci-service-runner-error fxFlex></ci-service-runner-error>
</div>

<mat-spinner *ngIf="isLoading" style="margin: auto"></mat-spinner>
